* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #10111E;
    color: rgb(224, 224, 224);
}

.seta{
    width: 2rem;
    height: 2rem;
}

.text-center{
    
    text-align: center;
}

img{
    width: 10rem;
    height: 10rem
}

.margin-top-small{
    margin-top: 2rem;
}

.side-margins{
    margin-top: 2.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.star{
    position: absolute;
    background-color: white;
    width: 2px;
    height: 2px;
    border-radius: 25rem;
    z-index: 0;
}

.position-1{margin-top: 77%;margin-left: 54%;}
 .position-2{margin-top: 84%;margin-left: 70%;}
 .position-3{margin-top: 100%;margin-left: 70%;}
 .position-4{margin-top: 98%;margin-left: 31%;}
 .position-5{margin-top: 56%;margin-left: 53%;}
 .position-6{margin-top: 54%;margin-left: 78%;}
 .position-7{margin-top: 71%;margin-left: 77%;}
 .position-8{margin-top: 41%;margin-left: 61%;}
 .position-9{margin-top: 30%;margin-left: 2%;}
 .position-10{margin-top: 65%;margin-left: 86%;}
 .position-11{margin-top: 9%;margin-left: 78%;}
 .position-12{margin-top: 58%;margin-left: 85%;}
 .position-13{margin-top: 16%;margin-left: 18%;}
 .position-14{margin-top: 44%;margin-left: 6%;}
 .position-15{margin-top: 52%;margin-left: 88%;}
 .position-16{margin-top: 24%;margin-left: 66%;}
 .position-17{margin-top: 60%;margin-left: 63%;}
 .position-18{margin-top: 12%;margin-left: 61%;}
 .position-19{margin-top: 1%;margin-left: 23%;}
 .position-20{margin-top: 5%;margin-left: 66%;}
